<h1>
    iFacebook <%= title %>
</h1>

<% if(locals.user) { %>
    <section id="feed-posts">
        <h3>Posts</h3>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="10" placeholder="Type here..."></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
<%} %>

<div class="post-list-container">
    <h1>Posts</h1>
    <ul>
        <% for(post of posts) {%>
        <li>
            <p>
                <%= post.content %>
                <br>
                    <small>
                        <%= post.user.name %> 
                    </small>
            </p>
            <div class="post-comments">
                <% if(locals.user) { %>
                    <form action="/comment/create" method="POST">
                        <input type="text" name="content" placeholder="Type here to add Comment...">
                        <!--  send the id of post -->
                        <input type="hidden" name="post" value="<%= post._id %>">
                        <input type="submit" value="Add Comment">
                    </form>
                <%} %>
            </div>
        </li>
        <%} %>
    </ul>
</div>