<div>
    <h1>Hii! <%= comment.user.name %></h1><br>
    <p>Your Comment <strong><%= comment.content %></strong> just got published on iFacebook</p><br>
    <h1>Thanks! For Using iFacebook</h1>
</div>