#layout-footer {
  color: white;
  background: #aa9e9e;
  padding: 5px 10px;
  display: flex;
  display: none;
  justify-content: flex-start; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
